{%extends 'myapp/aec_base.html' %}
{% load static %}

{% block content %} 
           
            <div class="layout-page">

                <div class="content-wrapper">
            
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                              <h5 class="card-title">TALUK MASTER</h5>
                                              <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                                                <div class="col-md-4 user_role"></div>
                                                <div class="col-md-4 user_plan"></div>
                                                <div class="col-md-4 user_status"></div>
                                              </div>
                                            </div>
                                            <div class="card-datatable text-nowrap">
                                              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"><div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <button class="btn btn-label-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button"  data-bs-toggle="modal" data-bs-target="#addNewCCModal">
                                                  <span>
                                                  <span><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Record&nbsp;&nbsp;</span>
                                                </span></button>&nbsp;&nbsp;
                                       
                                             
                                           </div>
                                          </div>
                                          
                                        <div>         
                                        <table>
                                            <div class="card-body">
                                                <div class="table-responsive text-nowrap">
                                                    <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                     
                                                        <th>district name</th>
                                                        <th>masterplan name</th>
                                                        <th>taluk name</th>
                                                       
                                                        <th>action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-border-bottom-0" id="tableBody" style="max-height: 120px; overflow-y: auto;">
                                                        <tr >
                                                      {% for data in obj %} 
                                                   
                                                      <td>{{data.district}}</td>
                                                      <td>{{data.masterplan}}</td>
                                                      <td>{{data.taluk_name}} </td>
                                                     
                                                      <td>
                                                        <div class="dropdown">
                                                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="bx bx-dots-vertical-rounded"></i>
                                                          </button>
                                                          <div class="dropdown-menu" style="">
                                                            <a class="dropdown-item" onclick="editTaluk('{{data.id}}', '{{data.district}}', '{{data.masterplan}}','{{data.taluk_name}}')"><i class="bx bx-edit-alt me-1"></i> Edit</a>

                                                          
                                                            <a class="dropdown-item" href="{% url 'delete_talukitem' data.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                                                          </div>
                                                        </div>
                                                      </td>
                                                        </tr>
                                                      {%endfor%}
                                                    </tbody>
                                                    </table>
                                                    <!-- template.html -->
<br>

    
  
    <!-- ADD TALUK LIST -->
    <div class="modal fade" id="addNewCCModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content p-3 p-md-5">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-4">
              <h3>Add Taluk</h3>
            </div>
            
            <form id="addnewcomponent" class="row g-3" onsubmit="return false">
              {% csrf_token %}
                 
                  <div class="modal-body">
                    <div class="input-group">
                      <button class="btn btn-outline-primary" type="button">Select District &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
             
                      <select type="text"  class="form-control" id="district" aria-label="Example select with button addon">
                        <option selected="">Choose...</option>
                        {% for data in district %}
                          <option value={{data.id}}>{{data.district}}</option>
                          
                          {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                      <button class="btn btn-outline-primary" type="button">Select MasterPlan</button>
             
                      <select type="text"  class="form-control" id="masterplan_name" aria-label="Example select with button addon">
                        <option selected="">Choose...</option>
                          <option></option>
                      </select>
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="taluk_name">Taluk Name:</label>
                      <input type="text" id="taluk_name" name="field_name" class="form-control" required>
                  </div>
                  <br>
                
                    <div class="col-12 text-center mt-4">
                      <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
                      <button
                        type="reset"
                        class="btn btn-label-secondary btn-reset"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <ul id="field-list">
          </ul>
        </div>
      </div>
    </div>
  </div>


           <!-- Edit LocalBody List-->
           <div class="modal fade" id="addNewCCModal1" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
              <div class="modal-content p-3 p-md-5">
              
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <div class="text-center mb-4">
                    <h3>Edit Taluk</h3>
          
                  </div>
                  <form id="addnewcomponent1" class="row g-3" onsubmit="return false">
                    {% csrf_token %}
                        <div class="form-group">
                          <label for="district">District Name</label>
                          <input type="text" id="district-modal" name="district" class="form-control" required>
                      </div>
                  
                      
                      <div class="form-group">
                        <label for="masterplan_name-modal">Masterplan Name</label>
                        <input type="text" id="masterplan_name-modal" name="masterplan_name-modal" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="localbody_type">Taluk name</label>
                      <input type="text" id="taluk_name-modal" name="taluk_name" class="form-control" required>
                  </div>
                    <div class="form-group">
                      <label for="id_taluk_id"></label>
                      <input type="hidden" id="id-modal" name="id" class="form-control" required>
                    </div>
                  
                    
                      <div class="col-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
                        <button
                          type="reset"
                          class="btn btn-label-secondary btn-reset"
                          data-bs-dismiss="modal"
                          aria-label="Close">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <ul id="field-list">
            </ul>
          </div>
        </div>
      </div>





<script>
function redirectToPage() {
window.location.href = '/aec_main/';
}
</script>

<script>
function editTaluk(id, district, masterplan_name,taluk_name){
$('#addNewCCModal1').modal("show");
$("#district-modal").val(district);
$("#masterplan_name-modal").val(masterplan_name);
$("#taluk_name-modal").val(taluk_name);


$("#id-modal").val(id);
console.log(id,district,masterplan_name,taluk_name)
$('form#addnewcomponent1').submit(function (e) {
e.preventDefault();
console.log(" call8ng addnewcomponent")
var empty = true;

var district = $('#district-modal').val();
console.log("district",district)
var masterplan_name = $('#masterplan_name-modal').val();
console.log("masterplan_name",masterplan_name)
var taluk_name = $('#taluk_name-modal').val();
console.log("taluk_name",taluk_name)
var taluk_id = $('#id-modal').val();
console.log("taluk_id",taluk_id)
$.ajax({

url: '/edit_taluk/' + taluk_id + '/',  
method: 'post',
data: {
    taluk_id: taluk_id,
    district: district,
    taluk_name:taluk_name,
    csrfmiddlewaretoken: '{{ csrf_token }}'
},
dataType: 'json',
success: function (data) {
  if (data.status) {
      sweet_alert_message('success', data.message);
  }  else {
    sweet_alert_message('success', data.message);
    setTimeout(function() {
      window.location.reload();
    }, 1000); 
  }
}
})
})
}
console.log('ajax')
                  function sweet_alert_message(icons, message) {
                  if (icons == "success") {
                    title1 = "Good job!"
                  } else if (icons == "info") {
                    title1 == "Info!"
                  } else if (icons == "warning") {
                    title1 = "Warning!"
                  } else {
                    title1 = "Error!"
                  }
                  Swal.fire({
                    title: title1,
                    text: message,
                    icon: icons,
                    customClass: {
                      confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                  });
                  }
  $("#district").on("change", function() {
      event.preventDefault();
      var districtId = $(this).val();
      console.log('district - districtId', districtId);
      var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log("csrfToken", csrfToken);
      $.ajax({
          type:'GET',
          url: '/add_talukfields/', 
          data: {
              "district_id": districtId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(data) {
            var masterplan_nameSelect = $("#masterplan_name");
            console.log("masterplan_name Select",masterplan_nameSelect)
            masterplan_nameSelect.empty();
            $.each(data.data, function(index, masterplan_name) {
                masterplan_nameSelect.append($("<option>", {
                    value: masterplan_name.id,
                    text: masterplan_name.masterplan_name
                }));
            });
          },
          error: function(xhr, status, error) {
              console.log("xhr", xhr);
              console.log("status", status);
              console.log("error", error);
                alert("Already exist ");
          }
      });
  });
  $("#masterplan_name").on("change", function() {
    event.preventDefault();
    var masterplanId = $(this).val();
    console.log('masterplan_name - masterplanId', masterplanId);
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log("csrfToken", csrfToken);

  });

    $('#addnewcomponent').submit(function(event) {
      event.preventDefault();
      var district = $('#district').val(); 
      console.log("add-field-form-district" ,district)
      var masterplan_name = $('#masterplan_name').val();
      console.log("add-field-form-masterplanId",masterplan_name)
      var taluk_name = $('#taluk_name').val();
      
      console.log("add-field-form - data",district,masterplan_name,taluk_name);
      
      $.ajax({
          type: 'POST',
          url: '/add_talukfields/', 
          data: {
              'district': district,
              'masterplan_name': masterplan_name,
        
               'taluk_name':taluk_name,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
               
          success: function (data) {
        if (data.status) {

        sweet_alert_message('success', data.message)
        
        
      }  else {
        sweet_alert_message('success', data.message);
        setTimeout(function() {
          window.location.reload();
        }, 1000); 
      }
      }
      });
  });
  </script>
<script>
  function redirectToPage() {
    
      // Replace 'your_url_here' with the actual URL you want to redirect to
      window.location.href = '/aec_main/';
  }
</script>
{% endblock %}