{%extends 'myapp/aec_base.html' %}
{% load static %}

{% block content %}
<div class="layout-page">

    <div class="content-wrapper">

        <div class="container-xxl flex-grow-1 container-p-y" >
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card">
                            <div class="card">
                                <div class="card-header border-bottom">
                                  <h5 class="card-title">COUNTRY MASTER</h5>
                                  
                                  <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                                    <div class="col-md-4 user_role"></div>
                                    <div class="col-md-4 user_plan"></div>
                                    <div class="col-md-4 user_status"></div>
                                    
                                  </div>
                                </div>
                        
                          
                                
                            <div class="card-datatable text-nowrap">
                              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                      <label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                        <option value="10">10</option><option value="25">25</option>
                                        <option value="50">50</option><option value="100">100</option>
                                      </select>
                                       entries
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                      
                                      <button class="btn btn-label-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button"  data-bs-toggle="modal" data-bs-target="#addNewCCModal3"> 
                                        <span>
                                          <i class="bx bx-plus me-sm-1"></i> 
                                          <span class="d-none d-sm-inline-block">Add New Record&nbsp;&nbsp;</span>
                                      </span></button>&nbsp;&nbsp;
                                    </div>
                                  </div>
                            </div>
                           </div>
                        <div>         
               <table>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th>country Id</th>
                        <th>country name</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="tableBody" style="max-height: 120px; overflow-y: auto;">
                        <tr >
                        {% for data in obj %}
                        <td value={{data.country_id}} >{{data.country_id}}</td>
                        <td value={{data.country_id}} >{{data.country}}</td> 
                      
                  
                      <td>
                        <div class="dropdown">
                          <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <div class="dropdown-menu" style="">
                            <a class="dropdown-item" onclick="editCountry('{{data.country_id}}','{{data.country}}')"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                            
                            <a class="dropdown-item" href="{% url 'delete_item' data.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                          </div>
                        </div>
                      </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>

<!-- Add Country List -->
<div class="modal fade" id="addNewCCModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3>Add Country </h3>

          </div>
          <form id="addnewcomponent" class="row g-3" onsubmit="return true">
            {% csrf_token %}
            <div class="col-12">
                <label class="form-label w-100" for="modalAddCard">Country Id</label>
                <div class="input-group input-group-merge">
                  <input id="id" name="id" class="form-control credit-card-mask" type="number"
                    placeholder="+91" aria-describedby="modalAddCard2" autocomplete="off" required >
                  <span class="input-group-text cursor-pointer p-1" id="id_error"></span><span class="card-type"></span>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label w-100" for="modalAddCard">country</label>
                <div class="input-group input-group-merge">
                  <input id="country_name" name="country_name" class="form-control credit-card-mask" type="text"
                    placeholder="India" aria-describedby="modalAddCard2" autocomplete="off" required >
                  <span class="input-group-text cursor-pointer p-1" id="country_error"></span><span class="card-type"></span>
                </div>
              </div>
            <div class="col-12 text-center mt-4">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
              <button type="reset" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal" aria-label="Close">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Update Country List-->
<div class="modal fade" id="addNewCCModal1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="text-center mb-4">
          <h3>Edit Village</h3>

        </div>
        <form id="addnewcomponent1" class="row g-3" onsubmit="return false">
          {% csrf_token %}
          <div class="form-group">
            <label for="country_id">Country Id:</label>
            <input type="text" id="country_id-modal" name="country_id-modal" class="form-control" required>
        </div>
          <div class="form-group">
            <label for="country">Country Name:</label>
            <input type="text" id="country-modal" name="country-modal" class="form-control" required>
        </div>
          <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary me-sm-3 me-1">Save Changes</button>
            <button type="reset" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </div>
         
   
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
     
      
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  function editCountry(country_id, country){
    $('#addNewCCModal1').modal("show");
    $("#country_id-modal").val(country_id);
    $("#country-modal").val(country);
    console.log(country_id,country)
    $('form#addnewcomponent1').submit(function (e) {
      e.preventDefault();
      console.log(" call8ng addnewcomponent")
      var empty = true;
      var country_id = $('#country_id-modal').val();
      console.log("country_id",country_id)
      var country = $('#country-modal').val();
      console.log("country",country)
     
    $.ajax({
      
      url: '/edit_country/' + country_id + '/',  
      method: 'post',
      data: {
        country_id:country_id,
          country: country,
         
        
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
    dataType: 'json',
    success: function (data) {
        if (data.status) {
            sweet_alert_message('success', data.message);
        } else {
          sweet_alert_message('success', data.message);
          setTimeout(function() {
            window.location.reload();
          }, 1000); 
        }
    }
  })
})
}
        function sweet_alert_message(icons, message) {
      if (icons == "success") {
        title1 = "Good job!"
      } else if (icons == "info") {
        title1 == "Info!"
      } else if (icons == "warning") {
        title1 = "Warning!"
      } else {
        title1 = "Error!"
      }
      Swal.fire({
        title: title1,
        text: message,
        icon: icons,
        customClass: {
          confirmButton: 'btn btn-primary'
        },
        buttonsStyling: false
      });
    }

      
    
    $('form#addnewcomponent').submit(function (e) {
      e.preventDefault();
      console.log("calling addnewcomponent");
      var empty = true;
      var id = $('#id').val();
      console.log("id", id);
      var country_name = $('#country_name').val();
      console.log("country_name", country_name);
  
      if (empty) {
          console.log('ajax calling');
          $.ajax({
              url: '/add_field/',
              method: 'post',
              data: {
                  'id': id,
                  'country_name': country_name,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              dataType: 'json',
              success: function (data) {
                  if (data.status) {
                      sweet_alert_message('success', data.message);
                   
                      window.location.reload();
                  } else {
                      sweet_alert_message('success', data.message);
                      setTimeout(function() {
                        window.location.reload();
                      }, 1000); 
                  }
              },
              error: function (xhr, status, error) {
                  sweet_alert_message('error', 'An error occurred: ' + error);
              }
          });
      }
  });
  

</script>

<script>
    $('form#addnewcomponent1').submit(function (e) {
    e.preventDefault();
    console.log(" call8ng addnewcomponent1")
    var empty = true;
    
    var country_id = $('#country_id').val(); 
    //var id = $('#addnewcomponent.id').val();
    console.log("country_id",country_id)
    var country = $('#country').val();
    console.log("country",country)
    if (empty) {
        console.log('ajax callinnnnnnng')
        
       $.ajax({
         url: '/edit_country/'+ country_id +'/',
         method: 'post',
         data: {
           'country_id':country_id,
           'country':country,
           'csrfmiddlewaretoken': '{{ csrf_token }}'
         },
         dataType: 'json',
         success: function (data) {
           if (data.status) {
   
             sweet_alert_message('success', data.message)
            
            
           }  else {
            sweet_alert_message('success', data.message);
            setTimeout(function() {
              window.location.reload();
            }, 1000); 
        }
         }

       });
      }
    });    
</script>
{% endblock %}

