{% load static %}
<!DOCTYPE html>

  <html
    lang="en"
    class="light-style layout-navbar-fixed layout-menu-fixed"
    dir="ltr"
    data-theme="theme-default"
    data-assets-path="{% static 'assets/' %}"
    data-template="vertical-menu-template-no-customizer"
  >
  <head>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>
      {% block title %}
      cos Ai
      {% endblock %}
    </title>
   
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/vendor/libs/aec-source/cosai.png' %}" />
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/leaflet/leaflet.css' %}" />
     <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    /> 
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Vendors CSS fixed datatable -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />

    <!-- Vendors CSS sweet alert -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/animate-css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/sweetalert2/sweetalert2.css' %}" />
     
    <!-- report generation junior -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/aec-source/aec.css' %}" />
  
    

    {% block stylesheet  %} {% endblock %}
 
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src = "{% static 'assets/vendor/libs/report-gen/jquery.js' %}"></script>
   
    <!-- html starter -->

  </head>
  <body>
    <form method ="post">
      {% csrf_token %}
    <!-- Layout wrapper -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center cosai-title">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="{% static 'assets/vendor/libs/aec-source/cossvg.svg' %}" class="navbar-logo" alt="logo" width="28px" height="32px" >
                  </span>
                  <span class="app-brand-text demo h3 mb-0 fw-bold">Cosai</span>
                </a>
              </div>
              <h4 class="mb-2">Reset Password 🔒</h4>
              <div class="alert alert-warning" role="alert">
                <h6 class="alert-heading mb-1">Ensure that these requirements are met</h6>
                <span>Minimum 8 characters long, uppercase &amp; symbol</span>
              </div>
            
              <div class="mb-3">
                <label for="email" class="form-label">Email or Username</label>
                <input type="email" name="email" placeholder="xyz@gmail.com" class="email white col-7 col-md-4 col-lg-7 ml-3 form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              </div>
              
              <div class="mb-3 form-password-toggle fv-plugins-icon-container" required="True">
                <label class="form-label" for="password">Change Password</label>
                <div class="input-group input-group-merge has-validation">
                  <input type="password" id="password" class="form-control" name="password" placeholder="············" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" aria-describedby="password" required="true">
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide togglePassword"></i></span>
                <div class="fv-plugins-message-container invalid-feedback"></div>
              </div>
              <br>
              <div class="mb-3 form-password-toggle fv-plugins-icon-container" required="True">
                <label class="form-label" for="password">Change Password</label>
                <div class="input-group input-group-merge has-validation">
                  <input type="password" id="confirmPassword" class="form-control" name="confirmpassword" placeholder="············" aria-describedby="password" required="true">
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide togglePassword"></i></span>
                <div class="fv-plugins-message-container invalid-feedback"></div>
              </div>
            <br>
                <button class="btn btn-primary d-grid w-100 mb-3">Set new password</button>
                <div class="text-center">

                    <a href="{% url 'reset_password' %}" class="d-flex align-items-center justify-content-center">
                      <i class="bx bx-chevron-left scaleX-n1-rtl"></i>
                      Back to login
            
                  </a>
                </div>
            
            </div>
          </div>
          <!-- /Reset Password -->
        </div>
      </div>
    </div>
  </form>


    <!--/ Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>


    <script>
      $( document ).ready(function() {
        $(".togglePassword").click(function(e) {
          e.preventDefault();
          var type = $("#password").attr("type");
          if (type == "password") {
            $("#password").attr("type", "text")
          } else {
            $("#password").attr("type", "password")
          }
        })
      }); 
      $( document ).ready(function() {
        $(".togglePassword").click(function(e) {
          e.preventDefault();
          var type = $("#password").attr("type");
          if (type == "password") {
            $("#confirmPassword").attr("type", "text")
          } else {
            $("#confirmPassword").attr("type", "password")
          }
        })
      }); 

    </script> 
    <!-- <script>

	
	$(".confirm-password-showhide .show-password").click(function() {
		$("#confirmPassword").attr("type", "text");
		$(".confirm-password-showhide .show-password").hide();
		$(".confirm-password-showhide .hide-password").show();
	});
	$(".confirm-password-showhide .hide-password").click(function() {
		$("#confirmPassword").attr("type", "password");
		$(".confirm-password-showhide .hide-password").hide();
		$(".confirm-password-showhide .show-password").show();
	});
  </script> -->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/app-access-roles.js' %}"></script>
    <script src="{% static 'assets/js/modal-add-role.js' %}"></script>
  </body>
  </html>